.default-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 52px;
    padding: 8px;
    border: 1px solid $accent-color;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    svg {
        margin-left: 10px;
        font-size: 24px;
    }
    &.background {
        color: $white-color;
        background: $accent-color;
        &:hover,
        &:focus {
            color: $accent-color;
            background: $white-color;
        }
    }
    &.invert-background {
        color: $accent-color;
        background: $white-color;
        &:hover,
        &:focus {
            color: $white-color;
            background: $accent-color;
        }
    }
    &.auto-size {
        width: initial;
        height: initial;
        padding: 12px 24px;
        font-size: 18px;
        line-height: 24px;
        svg {
            margin-left: 4px;
            font-size: 20px;
        }
    }
    @media(max-width: $tablet) {
        width: 178px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
        svg {
            margin-left: 8px;
            font-size: 20px;
        }
    }
    @media(max-width: 420px) {
        width: 100%;
    }
}

.popular-btn {
    display: inline-flex;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $accent-color;
    background: $white-color;
    &.active,
    &:hover {
        color: $white-color;
        background: $accent-color;
    }
    &.active {
        pointer-events: none;
    }
    @media(max-width: $tablet) {
        padding: 8px 16px;
        font-size: 16px;
        line-height: 20px;
    }
    @media(max-width: 640px) {
        font-size: 14px;
        line-height: 18px;
    }
}

.get-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 246px;
    padding: 13px 52px;
    border: 1px solid $accent-color;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $accent-color;
    background: $white-color;
    &:hover,
    &:focus {
        color: $white-color;
        background: $accent-color;
    }
    @media(max-width: $tablet) {
        padding: 10px 40px;
        font-size: 16px;
        line-height: 20px;
    }
    @media(max-width: 640px) {
        min-width: initial;
        width: 100%;
        padding: 10px;
    }
}

.info-btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $white-color;
    &.platform {
        background: $accent-color;
    }
    &.genre {
        background: #FF5722;
    }
    &.tag {
        background: #2196F3;
    }
    @media(max-width: $tablet) {
        padding: 5px 10px;
    }
    @media(max-width: 640px) {
        padding: 4px 8px;
        font-size: 14px;
        line-height: 20px;
    }
}